<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dogg" class="com.enjoy.spring.Dog">
        <property name="color" value="黄色"></property>
        <property name="age" value="2"></property>
        <property name="size" value="中等"></property>
    </bean>
</beans>